<div class="footer">
    <div class="footer-content">
        <div>&#8829; {{ notificationsService.message | async }}</div>

        <span class="footer-spacer"></span>

        <div>
            <span>Version: {{ environment.version }}</span>
        </div>
    </div>
</div>
