<section class="jumbotron">
    <div>
        <h1>
            <img src="./assets/icons/light-icon.png">
            {{ projectName }}
        </h1>

        <div>
            <p>{{ "PAGES.ABOUT.INTRODUCTION.APPLICATION_DESCRIPTION" | translate }}</p>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>{{ "PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.0" | translate }}</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>{{ "PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.1" | translate }}</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>{{ "PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.2" | translate }}</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>{{ "PAGES.ABOUT.INTRODUCTION.APPLICATION_PROPERTIES.3" | translate }}</h4>
                </mat-list-item>
            </mat-list>
        </div>

        <a color="accent" mat-flat-button routerLink="/app">
            {{ "GENERAL.TRY_IT" | translate }}
        </a>
    </div>
    <div>
        <img src="./assets/images/screens.png">
    </div>
</section>
