<div class="floating-buttons">
    <button (click)="mmpService.addNode()" [title]="'TOOLTIPS.ADD_NODE' | translate"
            class="mat-elevation-z2 add-node"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <button (click)="mmpService.removeNode()" [title]="'TOOLTIPS.REMOVE_NODE' | translate"
            class="mat-elevation-z2 remove-node"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
    </button>

    <button (click)="mmpService.zoomIn()" [title]="'TOOLTIPS.ZOOM_IN_MAP' | translate"
            class="mat-elevation-z2 zoom-in"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon" color="primary">zoom_in</mat-icon>
    </button>
    <button (click)="mmpService.zoomOut()" [title]="'TOOLTIPS.ZOOM_OUT_MAP' | translate"
            class="mat-elevation-z2 zoom-out"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon" color="primary">zoom_out</mat-icon>
    </button>

    <button (click)="mmpService.center()" [title]="'TOOLTIPS.CENTER_MAP' | translate"
            class="mat-elevation-z2 center"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon" color="primary">center_focus_weak</mat-icon>
    </button>

    <button (click)="mmpService.undo()" [title]="'TOOLTIPS.UNDO_MAP' | translate"
            class="mat-elevation-z2 undo"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon" color="primary">undo</mat-icon>
    </button>
    <button (click)="mmpService.redo()" [title]="'TOOLTIPS.REDO_MAP' | translate"
            class="mat-elevation-z2 redo"
            mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon" color="primary">redo</mat-icon>
    </button>
</div>
