@import "~src/theme.scss";

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/font/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans";
    src: url("assets/font/firasans/FiraSans-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Fira Sans";
    src: url("assets/font/firasans/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Fira Sans", sans;
    font-size: 17px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

::selection {
    color: whitesmoke;
    background: mat-color($app-primary);
}

*:focus {
    outline: none;
}

// Material override
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: lightgray !important;
}

mat-dialog-content.mat-dialog-content {
    max-height: none;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Fira Sans", sans !important;
}

// Color picker override
div.color-picker {
    border-radius: 2px;
    border: 1px solid #a8a8a8 !important;

    div.box:last-child {
        display: none !important;
    }

    div.arrow {
        top: 170px !important;
    }
}

// Snackbar
snack-bar-container.snackbar {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-bottom: 0;
    color: #555555;

    simple-snack-bar.mat-simple-snackbar {
        font-size: 15px;

        button {
            color: #555555;
        }
    }
}


